* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.form-container {
    width: 100%;
}

h2 {
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: bold;
}

input, select {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    background-color: #f9f9f9;
}

input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
    background-color: #fff;
}

button {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.form-group label input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
}

.form-group a {
    color: #007BFF;
    text-decoration: none;
}

.form-group a:hover {
    text-decoration: underline;
}